@charset "utf-8";

.navbar{
    background-color: black;
    color: #868A08;
}

.navbar .dropdown .dropdown-toggle {
    color: #868A08;
    background-color: black;
   
}

.navbar .dropdown .dropdown-menu {
    color: #868A08;
    background-color: black;
}

.dropdown-menu li a{
    color: #868A08;
}

.dropdown-open {
    color: #868A08;
}

.span {
    color: #868A08;
}